@media screen and (max-width: 600px) {
  body, html {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat' , sans-serif;
  background: white;
  }
  img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
  }
  *{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    box-sizing: border-box;
  }
  *:focus {
    outline:none !important;
  }
  button {
    outline: 0;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat' , sans-serif;
  }
  button:focus {
    outline: 0;
    border: none
  }
  button:active {
    outline: 0;
    border: none;
  }
  input {
    font-family: 'Montserrat' , sans-serif;
  }
  .header {
    position: fixed;
    left: 2%;
    width: 96%;
    height: 60px;
  }
  .search {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 55px;
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  .searchBar {
    font-size: 14px;
    margin: 0 auto;
    width: 94%;
    height: 55px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    line-height: 15px;
  }
  .searchContent {
    margin: 0 auto;
    width: 90%;
  }
  .fa-search {
    color: #8C8C8C;
  }
  .navbar {
    position: fixed;
    left: 2%;
    width: 96%;
    height: 60px;
    border: 1px solid #D2D2D2;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: white;
    bottom: 20px;
  }
  .navbarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    height: 50px;
    margin-top: 5px;
  }
  .home {
    display: flex;
    margin-top: -0.5px;
    width: 49px;
    height: 43px;
  }
  .favorites {
    display: flex;
    margin-top: -0.5px;
    width: 49px;
    height: 43px;
  }
  .about {
    display: flex;
    margin-top: -0.5px;
    width: 49px;
    height: 43px;
  }
  .item {
    margin: 0 auto;
    text-decoration: none;
  }
  .homeIcon {
    margin: 0 auto;
    background-image: url('icons/soccer.png');
    background-repeat: no-repeat;
    background-size: 25px 24px;
    width: 25px;
    height: 25px;
  }
  .itemText {
    font-size: 13px;
    font-weight: bold;
    color: #555555;
    margin: 0 auto;
  }
  .favoritesIcon {
    margin: 0 auto;
    background-image: url('icons/favorites.png');
    background-repeat: no-repeat;
    background-size: 25px 23px;
    width: 25px;
    height: 25px;
  }
  .aboutIcon {
    margin: 0 auto;
    background-image: url('icons/more.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
  }
  .list {
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 96%;
    margin: 0 auto;
    margin-top: 180px;
    margin-left: 2%;
  }
  .filterDiv {
    width: 100%;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 40px;
  }
  .cardContent {
    padding-top: 5%;
    width: 90%;
    margin: 0 auto;
  }
  .complejoName {
    color: #373737;
    font-weight: bold;
    line-height: 24px;
    font-size: 20px;
  }
  .complejoRate {
    margin-top: 2.5%;
    color: #747474;
    font-weight: bold;
    line-height: 17px;
    font-size: 14px;
  }
  .fa-star {
    margin-right: 10px;
    color: #D8A354;
    font-size: 12px;
  }
  .complejoLocation {
    margin-top: 55px;
    font-size: 14px;
    line-height: 17px;
    color: #373737;
    font-weight: bold;
  }
  .fa-map-marker-alt {
    margin-right: 10px;
    color: #ff5656;
  }
  .complejoBackground {
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    margin-top: -110px;
    float: right
  }
}
