@media screen and (max-width: 600px) {
  body, html {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat' , sans-serif!important;
  background: white;
  }
  img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
  }
  *{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    box-sizing: border-box;
  }
  *:focus {
    outline:none !important;
  }
  a {
    text-decoration: none!important;
  }
  button {
    outline: 0;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat' , sans-serif;
  }
  button:focus {
    outline: 0;
    border: none
  }
  button:active {
    outline: 0;
    border: none;
  }
  input {
    font-family: 'Montserrat' , sans-serif;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  ::-webkit-scrollbar-thumb:hover {
    display: none;
  }
  .header {
    position: absolute;
    left: 2%;
    width: 96%;
    height: 60px;
  }
  .logo {
    color: #373737;
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
  }
  .search {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 55px;
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  .searchBar {
    font-size: 14px;
    margin: 0 auto;
    width: 94%;
    height: 55px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    line-height: 15px;
  }
  .searchContent {
    margin: 0 auto;
    width: 90%;
  }
  .fa-search {
    color: #8C8C8C;
  }
  .navbar {
    position: absolute;
    left: 2%;
    width: 96%;
    height: 60px;
    border: 1px solid #D2D2D2;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: white;
    bottom: 20px;
  }
  .navbarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    height: 50px;
    margin-top: 5px;
  }
  .home {
    display: flex;
    margin-top: -0.5px;
    width: 49px;
    height: 43px;
  }
  .favorites {
    display: flex;
    margin-top: -0.5px;
    width: 49px;
    height: 43px;
  }
  .more {
    display: flex;
    margin-top: -0.5px;
    width: 49px;
    height: 43px;
    background-image: url(icons/more.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
  }
  .more:hover {
    background-image: url(icons/more-active.png);
  }
  }
  .btn {
    margin: 0 auto;
    text-decoration: none;
    color: #555555;
  }
  .btn:hover {
    color: #0588E8;
  }
  .btn.active {
    color: #0588E8;
  }
  .dropbtn {
    font-size: 14px;
    padding-top: 25px;
    margin: 0 auto;
    text-decoration: none;
    color: #555555;
    text-align: center;
    font-weight: bold;
  }
  .dropbtn:hover {
    color: #0588E8;
  }
  .icon {
    margin: 0 auto;
    width: 40px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .fa-futbol {
    font-size: 24px;
  }
  .fa-heart {
    font-size: 23px;
  }
  .favoritesIcon {
    width: 62px!important;
  }
  .favoritesIcon:hover {
    color: #e91e05;
  }
  .favoritesIcon.active {
    color: #e91e05;
  }
  .list {
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 96%;
    margin: 0 auto;
    margin-top: 180px;
    margin-left: 2%;
  }
  .items {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    overflow-x: hidden;
    overflow-y: overlay;
    -webkit-overflow-scrolling: touch;
    height: 65vh;
  }
  .filterDiv {
    width: 100%;
    height: 260px;
    background: #FFFFFF;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 40px;
    display: none;
  }
  .show {
    display: inline-block;
  }
  .cardContent {
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
  }
  .complejoName {
    color: #373737;
    font-weight: bold;
    line-height: 24px;
    font-size: 19px;
  }
  .complejoRate {
    margin-top: 3.5%;
    color: #747474;
    font-weight: bold;
    line-height: 17px;
    font-size: 12px;
  }
  .fa-star {
    margin-right: 10px;
    color: #ffbe56;
    font-size: 11px;
  }
  .complejoDescription {
    font-weight: 500;
    font-size: 14px;
    color: #373737;
    line-height: 22px;
    margin-top: 8%;
    width: 210px;
  }
  .complejoServices {
    font-weight: 500;
    font-size: 13px;
    color: #373737;
    line-height: 22px;
    margin-top: 7%;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .complejoLocation {
    margin-top: 2.5%;
    font-size: 12px;
    line-height: 17px;
    color: #373737;
    font-weight: bold;
  }
  .fa-map-marker-alt {
    margin-right: 10px;
    color: #ff5656;
  }
  .complejoBackground {
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background-size: 110px 110px;
    background-repeat: no-repeat;
    margin-top: -165px;
    float: right
  }
  .dropdown-content {
    display: none;
    margin-left: -134px;
    margin-top: -544px;
    position: absolute;
    background-color: #ffffff;
    width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown-content a {
    font-size: 15px;
    font-weight: bold;
    color: #555555;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .dropdown-content a.active {
    background-position-x: left;
    background-image: url(icons/check.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-color: #f3f1f1;
    background-position-y: center;
    background-origin: content-box;
  }
  .dropdown a:hover {background-color: #ddd;}
  .show {display: block;}
  .separator {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: #909090;
    margin: 10px;
  }
  .uk-modal {
    padding: 0!important;
    height: 100%!important;
    background: white!important;
  }
  .uk-modal-dialog {
    height: 100%;
  }
  .uk-modal-close {
    color: #373737;
    font-weight: 600;
    font-size: 26px;
  }
  .uk-modal-close:hover {
    color: #0588E8!important;
  }
  .fav-button {
    float: right;
    font-size: 26px;
    font-weight: 500;
    margin-top: 5px;
  }
  .favorite {
    color: #ababab;
  }
  .favorite:hover {
    color: #e91e05;
  }
  .unfavorite {
    color: #e91e05;
  }
  .unfavorite:hover {
    color: #ababab;
  }
  .fav-icon {
    font-size: 28px!important;
  }
  .complejoTitle {
    margin-top: 25px;
    color: #373737;
    font-weight: 600;
    font-size: 28px;
  }
  .reservaContainer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .reservarButton {
    height: 40px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    background: #0588E8;
    width: 100%;
    display: block;
    border-radius: 5px;
    line-height: 36px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }
  .reservarButton:hover {
    background: #0063ab;
    color: white;
  }
  .comoLlegar {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}
  }
}
